@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-mint-500: oklch(0.72 0.11 178);

  --blue: rgba(51, 102, 255, 1);
  --body-18px-font-family: "Poppins", Helvetica;
  --body-18px-font-size: 18px;
  --body-18px-font-style: normal;
  --body-18px-font-weight: 400;
  --body-18px-letter-spacing: 0px;
  --body-18px-line-height: 32px;
  --body-bold-18px-font-family: "Poppins", Helvetica;
  --body-bold-18px-font-size: 18px;
  --body-bold-18px-font-style: normal;
  --body-bold-18px-font-weight: 600;
  --body-bold-18px-letter-spacing: 0px;
  --body-bold-18px-line-height: 32px;
  --dark-gray: rgba(51, 51, 51, 1);
  --green: rgba(0, 147, 121, 1);
  --headline-40px-font-family: "Poppins", Helvetica;
  --headline-40px-font-size: 40px;
  --headline-40px-font-style: normal;
  --headline-40px-font-weight: 600;
  --headline-40px-letter-spacing: 0px;
  --headline-40px-line-height: 60px;
  --headline-60px-font-family: "Poppins", Helvetica;
  --headline-60px-font-size: 60px;
  --headline-60px-font-style: normal;
  --headline-60px-font-weight: 600;
  --headline-60px-letter-spacing: 0px;
  --headline-60px-line-height: 90px;
  --light-gray: rgba(196, 196, 196, 1);
  --primary-gray: rgba(43, 43, 43, 1);
  --purple: rgba(191, 175, 242, 1);
  --red: rgba(255, 98, 80, 1);
  --secondary-body-semi-bold-24px-font-family: "Poppins", Helvetica;
  --secondary-body-semi-bold-24px-font-size: 24px;
  --secondary-body-semi-bold-24px-font-style: normal;
  --secondary-body-semi-bold-24px-font-weight: 600;
  --secondary-body-semi-bold-24px-letter-spacing: 0px;
  --secondary-body-semi-bold-24px-line-height: 40px;
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(255, 223, 144, 1);
  --gray: rgb(85, 85, 85);
  --animate-spin: spin 1s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}